@import 'tailwindcss';
@variant dark (&:is(.dark *));

:root {
  --background: #f8fafc;
  --foreground: #020617;
}

/* /* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
} */

@theme {
  --color-white: #f8fafc;
  --color-black: #020617;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  padding: 0;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

/* .mantine-TextInput-input:focus,
.mantine-TextInput-input:focus-within {
  border-color: #141414 !important;
} */

.mantine-ActionIcon-root[data-variant='outline'] {
  --ai-bd: 1px solid #e3231f !important;
}
.mantine-Button-root[data-variant='outline'] {
  --button-bd: 1px solid #e3231f !important;
  color: #e3231f !important;
}

.mantine-Button-root[data-variant='transparent'] {
  color: #e3231f !important;
}
